<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange">
    <test name="Orange">
     <parameter name="username" value="standard_user" />
        <parameter name="password" value="secret_sauce" />
        <classes>
            <class name="test.cases.SaucedemoValidation"/>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->